*{
	margin: 0; padding: 0;}
	@font-face {
		font-family:'PT Sans';
		src: url(/fonts/PTSans-Regular.ttf);
	}
	p{margin: 0;padding: 0;}
	.header-wrap {
		width: 100%;
	}
	.header{
		background: #DCDCDC;
		height: 170px;
		width: 980px;
		padding: 0 10px;
		margin: auto;
	}
	.logo{width: 80px;
		height: 80px; 
		background: #777;
		margin-top: 40px;
		} 
		.named{
			padding-top: 10px;
			line-height: 22px;
			font-weight: 900;
			font-size: 22px;
			padding-left: 20px;
			color: #777;
			margin:0
			}
		.little{
			font-family:'PT Sans';
			line-height: 22px;
			font-weight: 400;
			font-size: 13px;
			color: #777;
			padding-left: 20px;
			width: 300px;
		}
		.logs{ margin-top: 40px; }
		.cont{
			font-family:'PT Sans';
			font-weight:700 ;
			
			line-height: 22px;
			padding-top: 55px;
			color: #777;
			font-size: 25px;
			font-weight: 300;
	
		}
		.cont p{
			margin:5px
		}
		.men{
			font-family:'PT Sans';
			line-height: 22px;
			background-color: #777;
			height: 45px;
			font-size: 20px;
		}
		.menu{width: 980px;
			margin: auto;
		
		
		}
		
		.links{
			
			padding: 5px 200	px;
		}
		
		.links a {
			text-decoration: None;
			color: whitesmoke;
		}
		.links a:hover {
			text-decoration: underline;
		    color: whitesmoke;}
		
		.slider-wrap{
			width: 100%;
		
		}
		.slider{
			width: 980px;
			margin: auto;
			
		}
		.navBar{
			font-family:'PT Sans';
			width: 980px;
			margin: auto;
			padding-left:150px;
			font-size: 15px;
			padding-top: 5px;
		}
		.navBar a{
			color: #777;
		}
		.navBar a :hover{
			color: #777;
			text-decoration: none	;
		}
		.breadcrumb-item + .breadcrumb-item::before {
			display: inline-block;
			padding-right: 0.5rem;
			color: #6c757d;
			content: "/";
		}
		.content{
			max-width: 980px;
			margin: 0 auto;
			font-family: 'PTSans';
			color: #777;
			text-decoration:none;
		}
		.lefblock{
			
		}
		.gambur {
			font-family: 'PTSans';
			padding-left: 115px;
			max-width: 300px;
			font-size: 18px;
			
			
		}
		.submenu {
		display: none; 
		width: 100px	;
		padding:0;
		font-size: 12px;
		
		
		}
		.submenu a:hover{
			
		}
		.gambur li {
		list-style: none;
		}
		.gambur li:hover .submenu {
		display: block; 
			
		}
		.just-list{
			padding-left: 0;
		}
		.rightblock-high{
			max-width: 980px;
			
			
		}
		.price{
			padding-left: 10;
		}
		.photoss{
			padding-left: 125px;
			padding-top: 10px;
		}
		.shopItem1,.shopItem2,.shopItem3{
			padding-left: 15px;
			padding-top: 20px;
			margin-right: 30px;
			width: 170px;
			height: 250px;
			background-color: #DCDCDC;
		}
		.rightblock-down{
			max-width: 980px;
			margin: 0 0 0 350px;
			
			
		}
		.shopItem4,.shopItem5{
			padding-left: 15px;
			padding-top: 20px;
			margin-right: 30px;
			width: 170px;
			height: 250px;
			background-color: #DCDCDC;
			margin-bottom: 10px;
			
			
		}
		.numbs{
			font-family:'PTSans';
			max-width: 980px;
			margin: auto;
		}
		.final{
			margin-left: 350px; 
			width: 570px;
			
			font-size: 10px;
		}
		.blocks{
			font-family: 'PTSans';
			font-size: 10px;
		}
		.block1{
			/* background-color: black; */
			width: 200px;
			word-wrap: break-word;
		}
		.block2{
			width: 300px;
			margin-left: 20px;
			word-wrap: break-word;
			/* background-color: red; */

		}
		.m-f{
			width: 100%;
		}
		.f-r{
			width: 980px;
			height: 150px;
			background-color: #777;
			margin: auto;
		}
		.ff{
		height: 100%;
		padding-top: 30px;
		font-size: 12px;}
		.tit{
			color: whitesmoke;
		
			padding: 0px 0 0 150px;
		}
		.tit p{
			margin: 0;
		}
		.linksus a {
			text-decoration: underline;
			color: whitesmoke;
		}
		.linksus a:hover {
			text-decoration: underline;
			color: whitesmoke;
		}
		.final{
			
			margin-left: 100px;
		}
		.clasus{
			margin-left: 5px;
		}
		.clasus a{
			text-decoration: underline;
			color: whitesmoke;
		
		}
		.clasus a:hover {
			text-decoration: underline;
			color: whitesmoke;
		}
		.footer{
			margin-top:100px ;
		}
		.mySlides {
		margin: auto;
		width: 980px;
		/* height: px; */
			
		
		}